<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <div id="app">
         <label>
         <input type="checkbox" v-model="headerStyle.blue">Синий
        </label>
        <label>
                <input type="checkbox" v-model="headerStyle.underlined">Подчёркнутый
                </label>
                <h1 v-bind:class="{ 'header--blue': headerStyle.blue, 'header--underlined': headerStyle.underlined }">
                    Заголовок
                </h1>
          
     </div>    
     <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>       
     <script src="script.js"></script>     
</body>
</html>